img{
	width:30%;
	float:left;
	margin:1.40%;
	border: 2px solid black;
}
p{
	font-family: 'Raleway', sans-serif;
	margin-left:1.66%;
	font-size: 30px;
	text-transform: uppercase;

	border-bottom: 3px solid #f1f1f1;
	width:30%;
	padding bottom :20px;
	border-bottom: 1px solid grey;
	width: 30%
}